body {
  padding: 0px;  
  margin: 0px;
}

h2{
    padding: 0px;
    margin: 0px;
}

/*------------------------------------write by vietnt5------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none !important;
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
ol, ul {
	list-style:none;
}
input, select, textarea {
	font:inherit;
}
img {
	font-size:1px;
	border:0px;
}
/********************************Link********************************/
a:link, a:visited {
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
}
a:hover, a:active {
	font-size: inherit;
	font-family: inherit;
}
a.link_dft:link, a.link_dft:visited {
	text-decoration: underline;
	font-size: inherit;
	font-family: inherit;
}
a.link_dft:hover, a.link_dft:active {
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
}
/********************************Color********************************/
.color1 {
	color:#ffffff !important;
}
.color2 {
	color:#000000 !important;
}
.color3 {
	color:#ffe100 !important;
}
.color4 {
	color:#0478c5 !important;
}
.color5 {
	color:#333 !important;
}
.color6 {
	color:#666 !important;
}
.color7 {
	color:#cc3300 !important;
}
.color8 {
	color:#999 !important;
}
.color9 {
	color:#f02a1b !important;
}
.color10 {
	color:#669933 !important;
}
.fl-left {
	float:  left !important;
}
.fl-right {
	float:  right !important;
}
.rs-float {
	float:  none !important;
}
.rs-mar {
	margin:0 !important;
}
.rs-p {
	padding:0 !important;
}
.rs-width {
	width:auto !important;
}
.rs-bg, .rs-bg td {
	background:none !important;
}
.mar {
	margin-top:10px;
}
.rs-br,.last-item {
	border:0!important;
}
.rs-br td,.last-item td {
	border:0!important;
}
.rs-float {
	float:  none !important;
}
.rs-height {
	height:auto !important;
}
.rs-middle {
	float:  none !important;
	vertical-align:middle !important;
}
.txt-left {
	text-align:left !important;
}
.txt-right {
	text-align:right !important;
}
.txt-top {
	vertical-align:top !important;
}
.txt-center {
	text-align:center !important;
}
.txt-bottom {
	vertical-align:bottom !important;
}
.bold {
	font-weight: bold !important;
}
.normal {
	font-weight: normal !important;
}
.size11 {
	font-size:11px !important;
}
.size10 {
	font-size:10px !important;
}
.size12 {
	font-size:12px !important;
}
.size14 {
	font-size:14px !important;
}
.size16 {
	font-size:16px !important;
}
.size18 {
	font-size:18px !important;
}
.italic {
	font-style:italic !important;
}
.clear {
	display:block;
	height:0px;
	width:100%;
	clear:both;
	line-height:0;
}
.clear2 {
	display:block;
	height:15px;
	width:100%;
	clear:both;
	line-height:0;
	float:left;
}
.over {
	width:960px;
	overflow:hidden;
}
.padding {
	padding:10px !important;
}
.space {
	padding:0 5px !important;
}
.space-10 {
	padding:0 10px !important;
}
.display-block {
	display: block !important;
	}
.display-inline {
	display: inline !important;
	}		
.display-none {
	display:none !important;
}
a:active, a:focus, input:focus, button:focus { /*Remove outline in ie7*/
	ie-dummy: expression(this.hideFocus=true);
	outline:0;
}
.button-focus { /*Button direction focus*/
	width:1px;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	height:20px;
}
.red-star {
	vertical-align:bottom;
	color:#F00;
	font-size:17px;
	font-weight:bold;
}